GITLAB_URL=
GITLAB_TOKEN=
GITLAB_PROJECT_ID=

JIRA_URL=
JIRA_PERSONAL_TOKEN=
JIRA_USER_NAME=
JIRA_PROJECT_KEY=

CONFLUENCE_URL=
CONFLUENCE_PERSONAL_TOKEN=
CONFLUENCE_USER_NAME=
CONFLUENCE_SPACE=

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=

GPT_API_KEY=
GPT_MODEL=
