GITLAB_URL=
GITLAB_TOKEN=
GITLAB_PROJECT_ID=
GITLAB_PROJECT_IDS=
GITLAB_GROUP_ID=
GITLAB_GROUP_PATH=

JIRA_URL=
JIRA_PERSONAL_TOKEN=
JIRA_USER_NAME=
JIRA_PROJECT_KEY=
JIRA_AUTH_MODE=
JIRA_API_VERSION=

CONFLUENCE_URL=
CONFLUENCE_PERSONAL_TOKEN=
CONFLUENCE_USER_NAME=
CONFLUENCE_SPACE=
CONFLUENCE_AUTH_MODE=
ATLASSIAN_AUTH_MODE=

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=

GPT_API_KEY=
GPT_MODEL=
